* {
	margin: 0;
}
body, html{
	height: 90%;
	font-family: monospace;
	background-color: #fff;
}
h1{
	color: #ffa500;
	text-align: center;
	font-style: monospace;
}
h3{
	text-align: center;
	font-size: 50px;
	font-family: monospace;
	color: #ffa500;
}
label{
	text-align: left;
	font-family: monospace;
	font-size: 15px;
}
.val{
	margin-bottom: 20px;
}
.container{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
	text-align: left;

}
.upload{
	text-align: center;
}
.well{
	text-align: center;

}
.footer, .push{
	text-align: center;
	color: black;
	height: 4em;
}
.navbar{
	background-color: #ffa500;
	height: 20px;
	text-align: center;
}
.myndirmain{
	display: inline-block;
	margin: 15px 15px;
}
.mynd{
	text-align: right;
}
.orange{
	background-color: #ffa500;
}
.g-recaptcha{
	margin-top: 20px;
	margin-bottom: 20px;
}
.userImages{
	max-width: 50%;
	max-height: 50%;

}
